
/* 
h1{
    font-size: 50px;
}

.left-content h1{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    color: #1d4ed8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:popins;
} */

body{
    background-color: #c9d1d9;
}
.nav-bar{
    margin: -5px;
    display: flex;
    background-color: whitesmoke;
}
.nav-bar img{
    width: 40px;
    height: 40px;
    margin: 15px;
}
.nav-bar span{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
}
.nav-bar ul{
    display: inline-flex;
    list-style-type: none;
}
.nav-bar ul li{
    margin: 10px 60px 10px 0px;
}
.nav-bar ul li a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #8c8f94;
    cursor: pointer;
}
.nav-bar ul li a.active{
    border-bottom: 3px solid #8957e5;
    padding-bottom: 25px;
    color: black;
}
.nav-bar form img{
    position: absolute;
    height: 18px;
    width: 18px;
    opacity: 0.5;
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: 260px;
}
.nav-bar form input{
    display: inline-flex;
    margin-left: 250px;
    padding: 10px 170px 10px 35px;
    margin-top: 20px;
    border: 1px solid #c4c9d0;
    border-radius: 7px;
}
.nav-bar form input :placeholder-shown{
    color: aliceblue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}