@{
    ViewData["Title"] = "Home Page";
}

    <section id="home" class="banner_wrapper p-0">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image: url(../images/top-banner.jpg);">
            <div class="slide-caption banner-left">
              <div>
                <p>AWAY FROM MONOTONOUS LIFE</p>
                <h1>MAGICAL TRAVEl</h1>
                <p>We live for vacationers and travelers who love a good deal, fun, and adventure</p>
                <a href="#" class="primary-btn text-uppercase mt-4">Get Started</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide" style="background-image: url(../images/d3.jpg);">
            <div class="slide-caption banner-left">
              <div>
                <p>AWAY FROM MONOTONOUS LIFE</p>
                <h1 style="color:white;">MAGICAL TRAVEl</h1>
                <p>We live for vacationers and travelers who love a good deal, fun, and adventure</p>
                <a href="#" class="primary-btn text-uppercase mt-4">Get Started</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <section class="popular-destination-area section-gap">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 style="font-family:'Poppins', sans-serif;" class="mb-10">Popular Destinations</h1>
              <p class="mb-5">We all live in an age that belongs to the young at heart. Life that is becoming extremely
                fast, day.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="single-destination relative">
              <div class="thumb relative">
                <div class="overlay overlay-bg"></div>
                <img class="card-img" src="~/images/d1.jpg" alt="">
              </div>
              <div class="desc">
                <a href="#" class="primary-btn mt-3">$150</a>
                <h4 class="mt-2">Mountain River</h4>
                <p>Nepal</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-destination relative">
              <div class="thumb relative">
                <div class="overlay overlay-bg"></div>
                <img class="card-img" src="~/images/d2.jpg" alt="">
              </div>
              <div class="desc">
                <a href="#" class="primary-btn mt-3">$250</a>
                <h4 class="mt-2">Dream City</h4>
                <p>Paris</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-destination relative">
              <div class="thumb relative">
                <div class="overlay overlay-bg"></div>
                <img class="card-img" src="~/images/d3.jpg" alt="">
              </div>
              <div class="desc">
                <a href="#" class="primary-btn mt-3">$350</a>
                <h4 class="mt-2">Cloud Mountain</h4>
                <p>India</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
        <section class="section-gap price-area">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center ">
              <h1 style="font-family:'Poppins', sans-serif;" class="mb-10">Packages</h1>
              <p class="mb-5">We all live in an age that belongs to the young at heart. Life that is becoming extremely
                fast, day.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-12">
            <div class="card mb-4">
              <img src="~/images/honymoon.png" class="card-img-top" alt="...">
              <div class="card-body ">
                <h5 class="card-title">HoneyMoon Packages </h5>
                <p style="text-align:justify;" class="card-text overflow-auto">Planning a honeymoon in the hills? Your
                  romantic rendezvous in the Himalayan beauty can't get better than Nepal. Nepal is a beautiful country
                  with splendid towns, hill stations, and an indigenous culture.</p>
                <a href="#" class="primary-btn">Explore More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="card mb-4">
              <img src="~/images/family.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Family Packages</h5>
                <p style="text-align:justify;" class="card-text">Best of family tour packages guarantee relaxation and
                  activities for the complete family.Right from adults and kids to elderly, family packages include a
                  vast range of sightseeing trips, historical tours</p>
                <a href="#" class="primary-btn">Explore More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="card mb-4">
              <img src="~/images/luxury.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Luxury Packages</h5>
                <p style="text-align:justify;" class="card-text">Travelling is itself a royal feel as it is a way to
                  explore all the new venues. Luxury holiday packages are the best experiences that one can grab for a
                  lifelong memory and have luxurious things.</p>
                <a href="#" class="primary-btn">Explore More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="mt-5">
      <div class="container pb-3">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 style="font-family:'Poppins', sans-serif;" class="mb-10">OTHER ISSUES WE CAN HELP YOU WITH</h1>
              <p class="mb-5">We all live in an age that belongs to the young at heart. Life that is</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="single-destination relative">
              <div class="thumb relative">
                <div class="overlay overlay-bg"></div>
                <img class="card-img" src="~/images/o1.jpg" alt="">
              </div>
              <div class="">
                <a href="#" class="primary-btn mt-3">Book car</a>
                <h4 class="mt-3">Rent a Car</h4>
                <p class="mt-3">The preservation of human life is the ultimate value, a pillar of ethics and the
                  foundation.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-destination relative">
              <div class="thumb relative">
                <div class="overlay overlay-bg"></div>
                <img class="card-img" src="~/images/o3.jpg" alt="">
              </div>
              <div class="">
                <a href="#" class="primary-btn mt-3">Book Room</a>
                <h4 class="mt-3">Dream City</h4>
                <p class="mt-3">The preservation of human life is the ultimate value, a pillar of ethics and the
                  foundation.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="single-destination relative">
              <div class="thumb relative">
                <div class="overlay overlay-bg"></div>
                <img class="card-img" src="~/images/o4.jpg" alt="">
              </div>
              <div class="">
                <a href="#" class="primary-btn mt-3">Order Food</a>
                <h4 class="mt-3">Food Featues</h4>
                <p class="mt-3">The preservation of human life is the ultimate value, a pillar of ethics and the
                  foundation.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
