@model  IEnumerable<Ghumfir.Models.Package> 
@{
    ViewData["Title"] = "Home Page";
}

    <!-- start banner Area -->
        <section class="relative about-banner">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12 bannerh1">
                        <h1 class="text-white bannerh1">
                            Packages
                        </h1>
                        <p  class="text-white link-nav"><a style="color:#fff;" href="#">Home </a> 
                            <i class="fas fa-arrow-right"></i></span> <a style="color:#fff;" href="#">Packages</a></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section-gap price-area">
            <div class="container">
              <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                  <div class="title text-center ">
                    <h1 style="font-family:'Poppins', sans-serif;" class="mt-4">Today's Hot Deals</h1>
                    <p class="mb-5">We all live in an age that belongs to the young at heart. Life that is becoming extremely
                      fast, day.</p>
                  </div>
                </div>
              </div>
              
        </section>
        <section  style=" background: url(~/images/price-bg.png);" class="price area">
            <div class="container py-5 h-100">
               <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                      <div class="row g-0">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-6 col-lg-5 d-md-block mb-5">
                              <img style="object-fit:cover; height:100%;" src="@("~/uploads/"+item.Image)" asp-append-version="true"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                               <div class="card-body p-4 p-lg-5 text-black">
            
                                   <div>              
                                     <h5 class="mb-3 pb-3" style="letter-spacing: 1px;text-align: center;">@item.Name</h5>
            
                                      <div class="form-outline mb-4">
                                          <p style="text-align:justify;" class="card-text">@item.Description</p>
                                      </div>
            
                                      <div class="form-outline mb-4">
                                          <h5>Outline</h5>
                                          <p style="text-align:justify;" class="card-text"> Day 01: Drive from Kathmandu to pokhara</p>
                                          <p style="text-align:justify;" class="card-text"> Day 02: Trek to Lumle to ABC.</p>
                                          <p style="text-align:justify;" class="card-text"> Day 03: Trek from ABC to Badal Dada.</p>
                                          <p style="text-align:justify;" class="card-text"> Day 04: Sightseeing in Badal dada,Trek to low camp.</p>
                                          <p style="text-align:justify;" class="card-text">  Day 05: Treck to Low camp to high Camp and seee the view.</p>
                                          <p style="text-align:justify;" class="card-text">  Day 06: Treck back to Pokhara.</p>
          
                                      </div>
            
                                      <div class="pt-1 mb-4">
                                        <a class="primary-btn text-decoration-none" asp-action="Bookings" asp-controller="Home" asp-route-id="@item.Id">Rs.@item.Price</a>              
                                      </div>
                                   </div>
                               </div>
                            </div>
                        }
                      </div>
                    </div>
                  </div>
               </div>
            </div>
        </section>
