@model Ghumfir.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<div>
    <div class="tab-pane fade in show d-block pt-2 pb-5 px-4">
       <h1 class="mb-4 mt-3 text-bold">Are you sure want to delete this?</h1>
           <hr class="bg-white text-white "/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
      <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a class="nav-link text-white" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>